


{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{% block title-meta %}
    تغییر گذرواژه
{% endblock %}{% endblock %} 

{% block main %}
    <div class="col-md-8 mx-auto">
    <!-- general form elements -->
    <div class="card card-danger ">
      <div class="card-header">
        <h3 class="card-title mb-0 float-left">تغییر رمز عبور</h3>
      </div>
    <div class="card-body py-4">
        <div class="card-body py-4">
            <p class="py-2">گذرواژه با موفقیت تغییر یافت</p>
            <a href="{% url 'account:profile' %}">بازگشت به صفحه حساب کاربری</a>
        </div>
    </div>

{% endblock %}