body{
    text-align: right !important;
    direction: rtl !important;
}
.btn-show-pass {
    right: initial;
    left: 0 !important;
}
.errors{
    /* font-size: 1.25em; */
    color: red;
    background-color: #fbd4d4;
    padding: 20px 30px;
}