{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    خانه
{% endblock %}
  
  
{% block main %}

<header class="masthead" style="background-image: url({% static 'blog/img/home-bg.jpg' %})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>وبلاگ جنگویی</h1>
          <span class="subheading">قدرت گرفته از پایتون و جنگو</span>
        </div>
      </div>
    </div>
  </div>
</header>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for article in object_list %}
        <div class="post-preview">
          <a href="{% url 'blog:detail' article.slug %}">
            <h2 class="post-title">
              {{article.title}}
              {% if article.is_special %}
                <span class="badge badge-danger">این مقاله ویژه است</span>
              {% endif %}
            </h2>
            <h3 class="post-subtitle">
              {{article.description|striptags|truncatewords:30}}
            </h3>
          </a>
          <p class="post-meta">نوشته شده توسط
            <a href="{% url 'blog:author' article.author %}">{{article.author.get_full_name}}</a>
            {{article.jpublish}}</p>
            <p class="post-meta">
              {% for cat in article.category_published.all %}
              <a href="{% url 'blog:category' cat.slug %}"> #{{cat}}</a>
              {% endfor %}
            </p>
        </div>
        <hr>
      {% endfor %}
      <!-- Pager -->
      {% if is_paginated %}
      <div class="clearfix pager-botton">
        {% if page_obj.has_previous %}
        <a class="btn btn-primary float-right" href="{% url 'blog:home' page_obj.previous_page_number %}">پست های جدید &larr;</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a class="btn btn-primary float-right" href="{% url 'blog:home' page_obj.next_page_number %}">&rarr; پست های قدیمی </a>
        {% endif %}
      </div>

      {% endif %}
    </div>
  </div>
</div>

<hr>
{% endblock %}